*._*
*.pyc
*.pyd
*.pyo
*.scssc
*.so
*~
.#*
.DS_Store
\#*#
/test*.py
/.local
/perf.data*
/build
__pycache__/
/*.egg
/*.egg-info
/dist
/.cache
/.pytest_cache
/.coverage
/.mypy_cache
/.venv*
/wheelhouse
